*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

main{
    height: 100vh;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.quote,
h1 {
    font-family: 'Lato', sans-serif;
    color: #000;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    
}

.quoteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 65%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    margin: 40px 0 40px;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75%;
}

.author{
    font-size: 1.875rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    padding: 10px;
}

.quote{
    font-size: 70px;
    margin: auto 0;
    font-weight: 700;
}

button {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    border-radius: 40px;
    color: #ffffff;
    font-size: 1.5rem;
    padding: .416em 1.667em;
    background-color: #249AF0;
    margin: .416em;
    text-align: center;
    border: none;

}

button img{
    width: 30.83px;
    height: 26.09px;
    color: white;
}

.newQuote{
    background: #FF0D0D;
}